@charset "utf-8";




@media screen and (max-width: 782px){

td{
	text-align:center;
	border-color: #000000;
	border-width:3px;
	height: 130px;
	width: 130px;
}

img{
	width:45px;
	height:45px;
	pointer-events: none;
}

button{
	margin: 3px;
	font-size:15px;
	font-weight: bold;
}
}


@media screen and (min-width: 783px){

td{
	text-align:center;
	border-color: #000000;
	border-width:3px;
	height: 180px;
	width: 180px;
}

img{
	width:80px;
	height:80px;
	pointer-events: none;
}

button{
	margin: 3px;
	font-size:20px;
	font-weight: bold;
}
}

table{
	margin:auto;
}